body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 40px;
}
.add-color {
  color: lightsalmon;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.style {
  width: 50%;
  padding-left: 5%;
}
.style img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, salmon);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.disign {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.middle-part {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.last-part {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.developer {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-bottom: 5%;
  box-shadow: 10px 10px 40px gray;
}
#baby-shadow {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#full-shadow {
  border-left: 7px solid;
  border-image: linear-gradient(tomato, orange);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
